People.DataStore.Service.Library/Connected Services/PeopleWCFService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kraken.Interfaces.Dynamic.Library.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kraken.Interfaces.Dynamic.Library.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonModel" nillable="true" type="tns:PersonModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonModel" nillable="true" type="tns:ArrayOfPersonModel" />
  <xs:complexType name="PersonModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonModel" nillable="true" type="tns:PersonModel" />
</xs:schema>